/*
 * Link style in the article
 */
article p > a {
  display: inline-flex;
  align-items: center;
  background-color: #8883;
  padding: 0.25rem 0.375rem;
  line-height: 100%;
  border-radius: 0.25rem;
  position: relative;
  cursor: pointer;
}
.dark article p > a {
  background-color: rgba(204, 203, 203, 0.253);
}
article p > a::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: var(--primary-custom);
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  transition: width 0.4s;
}
article p > a:hover::before {
  width: 100%;
}

/*
 * Link style in the article - End
 */
